	  #googleMap{
	  width:auto; 
	  height:100%;
	  }
	  
	  #judul{
	  width: auto;
	  height: 100px;
	  background-image: url(images/header2.jpg);
	  font-size: 24px;
	  border: 2px solid #629ef7;
	  color: white;
	  }
	  
	  #slogan{
	  padding: 30px;
	  }
	    
	  #banner{
	  width : 330px;
	  float: left;
	  height:144px;
	  }
	  
	  #floating-panel {
	  top: 10px;
	  left: 25%;
	  z-index: 5;
	  background-color: #629ef7;
	  opacity: 0.8;
      filter: alpha(opacity=40);
	  padding: 5px;
	  border: 1px solid white;
	  text-align: center;
	  font-family: 'Roboto','sans-serif';
	  line-height: 30px;
	  padding-left: 10px;
	  }
	  
	  #floating-panel  table td img{
	  padding: 8px 0px 0px 0px;
	  }
	  
	   #floating-panel  table td input{
	  padding: 0px 0px 0px 5px;
	  }
	  
	  
	  
/*	 
#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  border: 1px solid black;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}

      #right-panel {
        height: 100%;
        float: left;
        width: 390px;
        overflow: auto;
      }

      #map {
        margin-right: 400px;
      }

       @media print {
        #map {
          height: 500px;
          margin: 0;
        }

        #right-panel {
          float: right;
          width: auto;
        }
      }
	  
*/	  
		  
 .controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

	 